.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    /* grid-template-areas: 'red . .' '. purple .' '. . green'; */
}


.bg-red {
    background-color: red;
    grid-row: 1/3;
    grid-column: 2/3;
    /* grid-area: red; */
}

.bg-red::before {
    content: "Hi!";
    display: block;
    width: 50%;
    height: 50%;
    background-color: wheat;

}

.bg-red::after {
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    background-color: blue;
}



.bg-purple {
    background-color: purple;
    grid-row: 2/3;
    grid-column: 2/3;
    /* grid-area: purple; */
}

.bg-green {
    background-color: green;
    grid-row: 3/3;
    grid-column: 3/3;
    /* grid-area: green; */
}

.w-65 {
    width: 100%;
}

.h-65 {
    height: 25vh;
}

.border {
    border: 1px solid black;
}